.header{
    width: 1200px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.cont-header{
    z-index: 20;
    top: 0px;
    width: 100%;
    
    position: fixed;
    border-bottom: 2px solid yellowgreen;
    background: rgb(255, 255, 255);
}
.header img{
    width: 200px;
    height: 120px;
}
.links{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    cursor: pointer;
    /* color:  black; */
}
.links a:hover{
    text-decoration: underline;
    color: yellowgreen;
}